body {
    background-color: rgb(255,250,240);
    color: rgb(75, 75, 75);
}

/* Navigation bar */
.nav-bar {
    background-color: rgb(255,250,240);
    margin-bottom: 3rem;
    padding: 4rem 5rem 2rem 5rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo a, .nav-pages a, .nav-info a {
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 0;
    text-decoration: none;
    
}

.logo a {
    font-size: 3rem;
    color: rgb(28, 177, 175);
}

.nav-pages a {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    color: rgb(75, 75, 75);
}

.nav-info a {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    color: rgb(75, 75, 75);
}

/* Sign up Area */
.sign-up-area {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 8rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-right: 10rem;
}

.sign-up-area h1 {
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.sign-up-area label {
    font-size: 1.5rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 800;
}

.sign-up-area input {
    font-size: 1.5rem;
    margin-left: 1rem;
    border-color: grey;
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}

.sign-up-area .submit-button input{
    margin-top: 2rem;
    padding: 0.75rem 2.5rem;
    background-color: rgb(28, 177, 175);
    border-style: hidden;
    color: white;
}

/* Used to arrange the heading, labels and inputs */
.block {
    width: 100%;
    display: block;
    margin: 2rem 0;
}

.center {
    text-align: center;
}

label {
    display: inline-block;
    text-align: right;
}

input {
    vertical-align: top;
}
/* End to arrange the heading, labels and inputs */